input {
  margin: 20px auto;
  padding: 0.4rem;
  vertical-align: baseline;
  font-size: 1rem;
  color: black;
  align-self: center;
  align-content: center;
  width: 60%;
}

.search_container {
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
